.nav-menu{
    display: flex;
    justify-content: space-between;
    padding: 35px;
}

.logo-title{
    font-size: 25px;
    display: flex;
    padding: 7px;

}
.logo-title .title{
    margin-left: 15px;
    text-decoration: none;
}

.navbar ul{
    display: flex;
}

.navbar ul a{
    text-decoration: none;
    margin-right: 10px;
}

.navbar ul li{
    list-style: none;

}

.select-region{
    position:absolute;
    top: 10px;
    right: 60px;
}

.user-info{
    position: absolute;
    top: 10px;
    right: 30px;
}