@import './components/SearchBar.scss';
@import './components/Menu.scss';
@import './components/Footer.scss';
@import './components/Ranks-Paginate.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}