@import './components/SearchBar.scss';
@import './components/Menu.scss';
@import './components/Footer.scss';
@import './components/Ranks.scss';
@import './components/Ranks-Paginate.scss';
@import "~bootstrap/scss/bootstrap";
@import './components/Champions.scss';
@import './components/UserInfo.scss';
@import './components/UserMatchHistory.scss';
@import './components/UserMasteries.scss';
@import './components/MatchedGameDetail.scss';
@import './components/ChampionDetail.scss';
@import './components/SignInPage.scss';
@import './components/SignUpPage.scss';
@import './components/Main.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // background-color: black;
    // color: white;
}
body, html{
    cursor: url('../images/mouse-cursor.png'), auto;

    .title, .link, .user-info{
        cursor: url('../images/mouse-cursor-click.png'), auto;
    }
}

.loading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
