.findPassword-page {
    width: 500px;

    .phone-email {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button {
        width: 100px;
    }

    input {
        border: 3px solid white;
        border-radius: 10px;
        outline: 0;
        background-color: rgb(226, 224, 224);
        padding: 2px 5px;
        margin: 5px;
    }

    input:focus {
        border: 3px solid rgb(58, 127, 206);
        border-radius: 10px;
        outline: 0;
    }
    .info-submit-button{
        outline: none;
        border: 0;
        background-color: rgb(218, 115, 115);
        padding: 3px 5px;
        border-radius: 10px;
        color: white;
        font-size: 15px;
    }
    .info-submit-button:hover{
        outline: none;
        border: 0;
        background-color: rgb(252, 4, 4);
        padding: 3px 5px;
        border-radius: 10px;
        color: white;
        font-size: 15px;
    }
    .digits-button{
        border:0;
        outline: none;
        border-radius: 10px;
        color: white;
        background-color: rgb(221, 188, 77);
    }
    .digits-button:hover{
        border:0;
        outline: none;
        border-radius: 10px;
        color: white;
        background-color: rgb(250, 193, 6);
    }
}

