.footer-page{
    background-color: rgb(72, 75, 77);
    text-align: center;
    padding: 32px;
}
.author-info{
    color: rgb(202, 101, 118);
    font-size: 30px;
}

.footer-logos ul a{
    font-size: 50px;
    color: white;
}

.footer-logos ul a:nth-child(1):hover{
    color: black;
}
.footer-logos ul a:nth-child(3):hover{
    color: purple;
}
.footer-logos ul a:nth-child(4):hover{
    color: blue;
}

.footer-logos ul img{
    width: 50px;
    
}

