.mastery-page{
    background-color: rgb(23, 68, 105);
        width: 600px;
        color: white;
        margin: 20px auto;
        padding: 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .load-more-button{
            background-color: rgb(64, 197, 115);
            color: white;
            border: 0;
            border-radius: 10px;
            margin-top: 7px;
            text-align: center;
        }
        .load-more-button:hover{
            background-color: rgb(2, 110, 65);
        }
}
.mastery-detail{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 2px solid black;
    .img-name{
        width: 200px;
        img{
            width: 50px;
            margin: 5px;
        }
    }
        .level, .points{
        height: 60px;
        line-height: 60px;
        }
}